.u-section-1 .u-sheet-1 {
  min-height: 1544px;
}

.u-section-1 .u-gallery-1 {
  height: 1544px;
  margin-top: 0;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 3px 3px;
}

.u-section-1 .u-over-slide-1 {
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  padding: 20px;
}

.u-section-1 .u-over-slide-5 {
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  padding: 20px;
}

.u-section-1 .u-over-slide-7 {
  padding: 20px;
}

.u-section-1 .u-over-slide-8 {
  padding: 20px;
}

.u-section-1 .u-over-slide-9 {
  padding: 20px;
}

.u-section-1 .u-over-slide-10 {
  padding: 20px;
}

.u-section-1 .u-over-slide-11 {
  padding: 20px;
}

.u-section-1 .u-over-slide-12 {
  padding: 20px;
}

.u-section-1 .u-over-slide-13 {
  padding: 20px;
}

.u-section-1 .u-over-slide-14 {
  padding: 20px;
}

.u-section-1 .u-over-slide-15 {
  padding: 20px;
}

.u-section-1 .u-over-slide-16 {
  padding: 20px;
}

.u-section-1 .u-over-slide-17 {
  padding: 20px;
}

.u-section-1 .u-over-slide-18 {
  padding: 20px;
}

.u-section-1 .u-over-slide-19 {
  padding: 20px;
}

.u-section-1 .u-over-slide-20 {
  padding: 20px;
}

.u-section-1 .u-over-slide-21 {
  padding: 20px;
}

.u-section-1 .u-over-slide-22 {
  padding: 20px;
}

.u-section-1 .u-over-slide-23 {
  padding: 20px;
}

.u-section-1 .u-over-slide-24 {
  padding: 20px;
}

.u-section-1 .u-over-slide-25 {
  padding: 20px;
}

.u-section-1 .u-over-slide-26 {
  padding: 20px;
}

.u-section-1 .u-over-slide-27 {
  padding: 20px;
}

.u-section-1 .u-over-slide-28 {
  padding: 20px;
}

.u-section-1 .u-over-slide-29 {
  padding: 20px;
}

.u-section-1 .u-over-slide-30 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1292px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1292px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2227px;
  }

  .u-section-1 .u-gallery-1 {
    height: 2227px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6604px;
  }

  .u-section-1 .u-gallery-1 {
    height: 6604px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1544px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1544px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-2 .u-gallery-1 {
  height: 1647px;
  margin-top: 16px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 3px 3px;
}

.u-section-2 .u-over-slide-1 {
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  padding: 20px;
}

.u-section-2 .u-over-slide-7 {
  padding: 20px;
}

.u-section-2 .u-over-slide-8 {
  padding: 20px;
}

.u-section-2 .u-over-slide-9 {
  padding: 20px;
}

.u-section-2 .u-over-slide-10 {
  padding: 20px;
}

.u-section-2 .u-over-slide-11 {
  padding: 20px;
}

.u-section-2 .u-over-slide-12 {
  padding: 20px;
}

.u-section-2 .u-over-slide-13 {
  padding: 20px;
}

.u-section-2 .u-over-slide-14 {
  padding: 20px;
}

.u-section-2 .u-over-slide-15 {
  padding: 20px;
}

.u-section-2 .u-over-slide-16 {
  padding: 20px;
}

.u-section-2 .u-over-slide-17 {
  padding: 20px;
}

.u-section-2 .u-over-slide-18 {
  padding: 20px;
}

.u-section-2 .u-over-slide-19 {
  padding: 20px;
}

.u-section-2 .u-over-slide-20 {
  padding: 20px;
}

.u-section-2 .u-over-slide-21 {
  padding: 20px;
}

.u-section-2 .u-over-slide-22 {
  padding: 20px;
}

.u-section-2 .u-over-slide-23 {
  padding: 20px;
}

.u-section-2 .u-over-slide-24 {
  padding: 20px;
}

.u-section-2 .u-over-slide-25 {
  padding: 20px;
}

.u-section-2 .u-over-slide-26 {
  padding: 20px;
}

.u-section-2 .u-over-slide-27 {
  padding: 20px;
}

.u-section-2 .u-over-slide-28 {
  padding: 20px;
}

.u-section-2 .u-over-slide-29 {
  padding: 20px;
}

.u-section-2 .u-over-slide-30 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1377px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2375px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-2 .u-gallery-1 {
    height: 7059px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1647px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-3 .u-gallery-1 {
  height: 1647px;
  margin-top: 16px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 3px 3px;
}

.u-section-3 .u-over-slide-1 {
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  padding: 20px;
}

.u-section-3 .u-over-slide-7 {
  padding: 20px;
}

.u-section-3 .u-over-slide-8 {
  padding: 20px;
}

.u-section-3 .u-over-slide-9 {
  padding: 20px;
}

.u-section-3 .u-over-slide-10 {
  padding: 20px;
}

.u-section-3 .u-over-slide-11 {
  padding: 20px;
}

.u-section-3 .u-over-slide-12 {
  padding: 20px;
}

.u-section-3 .u-over-slide-13 {
  padding: 20px;
}

.u-section-3 .u-over-slide-14 {
  padding: 20px;
}

.u-section-3 .u-over-slide-15 {
  padding: 20px;
}

.u-section-3 .u-over-slide-16 {
  padding: 20px;
}

.u-section-3 .u-over-slide-17 {
  padding: 20px;
}

.u-section-3 .u-over-slide-18 {
  padding: 20px;
}

.u-section-3 .u-over-slide-19 {
  padding: 20px;
}

.u-section-3 .u-over-slide-20 {
  padding: 20px;
}

.u-section-3 .u-over-slide-21 {
  padding: 20px;
}

.u-section-3 .u-over-slide-22 {
  padding: 20px;
}

.u-section-3 .u-over-slide-23 {
  padding: 20px;
}

.u-section-3 .u-over-slide-24 {
  padding: 20px;
}

.u-section-3 .u-over-slide-25 {
  padding: 20px;
}

.u-section-3 .u-over-slide-26 {
  padding: 20px;
}

.u-section-3 .u-over-slide-27 {
  padding: 20px;
}

.u-section-3 .u-over-slide-28 {
  padding: 20px;
}

.u-section-3 .u-over-slide-29 {
  padding: 20px;
}

.u-section-3 .u-over-slide-30 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1377px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2375px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-3 .u-gallery-1 {
    height: 7059px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1647px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-4 .u-gallery-1 {
  height: 1647px;
  margin-top: 16px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 3px 3px;
}

.u-section-4 .u-over-slide-1 {
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  padding: 20px;
}

.u-section-4 .u-over-slide-7 {
  padding: 20px;
}

.u-section-4 .u-over-slide-8 {
  padding: 20px;
}

.u-section-4 .u-over-slide-9 {
  padding: 20px;
}

.u-section-4 .u-over-slide-10 {
  padding: 20px;
}

.u-section-4 .u-over-slide-11 {
  padding: 20px;
}

.u-section-4 .u-over-slide-12 {
  padding: 20px;
}

.u-section-4 .u-over-slide-13 {
  padding: 20px;
}

.u-section-4 .u-over-slide-14 {
  padding: 20px;
}

.u-section-4 .u-over-slide-15 {
  padding: 20px;
}

.u-section-4 .u-over-slide-16 {
  padding: 20px;
}

.u-section-4 .u-over-slide-17 {
  padding: 20px;
}

.u-section-4 .u-over-slide-18 {
  padding: 20px;
}

.u-section-4 .u-over-slide-19 {
  padding: 20px;
}

.u-section-4 .u-over-slide-20 {
  padding: 20px;
}

.u-section-4 .u-over-slide-21 {
  padding: 20px;
}

.u-section-4 .u-over-slide-22 {
  padding: 20px;
}

.u-section-4 .u-over-slide-23 {
  padding: 20px;
}

.u-section-4 .u-over-slide-24 {
  padding: 20px;
}

.u-section-4 .u-over-slide-25 {
  padding: 20px;
}

.u-section-4 .u-over-slide-26 {
  padding: 20px;
}

.u-section-4 .u-over-slide-27 {
  padding: 20px;
}

.u-section-4 .u-over-slide-28 {
  padding: 20px;
}

.u-section-4 .u-over-slide-29 {
  padding: 20px;
}

.u-section-4 .u-over-slide-30 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1377px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2375px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-4 .u-gallery-1 {
    height: 7059px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1647px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-5 .u-gallery-1 {
  height: 1647px;
  margin-top: 16px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 3px 3px;
}

.u-section-5 .u-over-slide-1 {
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  padding: 20px;
}

.u-section-5 .u-over-slide-7 {
  padding: 20px;
}

.u-section-5 .u-over-slide-8 {
  padding: 20px;
}

.u-section-5 .u-over-slide-9 {
  padding: 20px;
}

.u-section-5 .u-over-slide-10 {
  padding: 20px;
}

.u-section-5 .u-over-slide-11 {
  padding: 20px;
}

.u-section-5 .u-over-slide-12 {
  padding: 20px;
}

.u-section-5 .u-over-slide-13 {
  padding: 20px;
}

.u-section-5 .u-over-slide-14 {
  padding: 20px;
}

.u-section-5 .u-over-slide-15 {
  padding: 20px;
}

.u-section-5 .u-over-slide-16 {
  padding: 20px;
}

.u-section-5 .u-over-slide-17 {
  padding: 20px;
}

.u-section-5 .u-over-slide-18 {
  padding: 20px;
}

.u-section-5 .u-over-slide-19 {
  padding: 20px;
}

.u-section-5 .u-over-slide-20 {
  padding: 20px;
}

.u-section-5 .u-over-slide-21 {
  padding: 20px;
}

.u-section-5 .u-over-slide-22 {
  padding: 20px;
}

.u-section-5 .u-over-slide-23 {
  padding: 20px;
}

.u-section-5 .u-over-slide-24 {
  padding: 20px;
}

.u-section-5 .u-over-slide-25 {
  padding: 20px;
}

.u-section-5 .u-over-slide-26 {
  padding: 20px;
}

.u-section-5 .u-over-slide-27 {
  padding: 20px;
}

.u-section-5 .u-over-slide-28 {
  padding: 20px;
}

.u-section-5 .u-over-slide-29 {
  padding: 20px;
}

.u-section-5 .u-over-slide-30 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1377px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-5 .u-gallery-1 {
    height: 2375px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-5 .u-gallery-1 {
    height: 7059px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1647px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-6 .u-gallery-1 {
  height: 1647px;
  margin-top: 16px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 3px 3px;
}

.u-section-6 .u-over-slide-1 {
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  padding: 20px;
}

.u-section-6 .u-over-slide-4 {
  padding: 20px;
}

.u-section-6 .u-over-slide-5 {
  padding: 20px;
}

.u-section-6 .u-over-slide-6 {
  padding: 20px;
}

.u-section-6 .u-over-slide-7 {
  padding: 20px;
}

.u-section-6 .u-over-slide-8 {
  padding: 20px;
}

.u-section-6 .u-over-slide-9 {
  padding: 20px;
}

.u-section-6 .u-over-slide-10 {
  padding: 20px;
}

.u-section-6 .u-over-slide-11 {
  padding: 20px;
}

.u-section-6 .u-over-slide-12 {
  padding: 20px;
}

.u-section-6 .u-over-slide-13 {
  padding: 20px;
}

.u-section-6 .u-over-slide-14 {
  padding: 20px;
}

.u-section-6 .u-over-slide-15 {
  padding: 20px;
}

.u-section-6 .u-over-slide-16 {
  padding: 20px;
}

.u-section-6 .u-over-slide-17 {
  padding: 20px;
}

.u-section-6 .u-over-slide-18 {
  padding: 20px;
}

.u-section-6 .u-over-slide-19 {
  padding: 20px;
}

.u-section-6 .u-over-slide-20 {
  padding: 20px;
}

.u-section-6 .u-over-slide-21 {
  padding: 20px;
}

.u-section-6 .u-over-slide-22 {
  padding: 20px;
}

.u-section-6 .u-over-slide-23 {
  padding: 20px;
}

.u-section-6 .u-over-slide-24 {
  padding: 20px;
}

.u-section-6 .u-over-slide-25 {
  padding: 20px;
}

.u-section-6 .u-over-slide-26 {
  padding: 20px;
}

.u-section-6 .u-over-slide-27 {
  padding: 20px;
}

.u-section-6 .u-over-slide-28 {
  padding: 20px;
}

.u-section-6 .u-over-slide-29 {
  padding: 20px;
}

.u-section-6 .u-over-slide-30 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1377px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2375px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-6 .u-gallery-1 {
    height: 7059px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1647px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-7 .u-gallery-1 {
  height: 1647px;
  margin-top: 16px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 3px 3px;
}

.u-section-7 .u-over-slide-1 {
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  padding: 20px;
}

.u-section-7 .u-over-slide-4 {
  padding: 20px;
}

.u-section-7 .u-over-slide-5 {
  padding: 20px;
}

.u-section-7 .u-over-slide-6 {
  padding: 20px;
}

.u-section-7 .u-over-slide-7 {
  padding: 20px;
}

.u-section-7 .u-over-slide-8 {
  padding: 20px;
}

.u-section-7 .u-over-slide-9 {
  padding: 20px;
}

.u-section-7 .u-over-slide-10 {
  padding: 20px;
}

.u-section-7 .u-over-slide-11 {
  padding: 20px;
}

.u-section-7 .u-over-slide-12 {
  padding: 20px;
}

.u-section-7 .u-over-slide-13 {
  padding: 20px;
}

.u-section-7 .u-over-slide-14 {
  padding: 20px;
}

.u-section-7 .u-over-slide-15 {
  padding: 20px;
}

.u-section-7 .u-over-slide-16 {
  padding: 20px;
}

.u-section-7 .u-over-slide-17 {
  padding: 20px;
}

.u-section-7 .u-over-slide-18 {
  padding: 20px;
}

.u-section-7 .u-over-slide-19 {
  padding: 20px;
}

.u-section-7 .u-over-slide-20 {
  padding: 20px;
}

.u-section-7 .u-over-slide-21 {
  padding: 20px;
}

.u-section-7 .u-over-slide-22 {
  padding: 20px;
}

.u-section-7 .u-over-slide-23 {
  padding: 20px;
}

.u-section-7 .u-over-slide-24 {
  padding: 20px;
}

.u-section-7 .u-over-slide-25 {
  padding: 20px;
}

.u-section-7 .u-over-slide-26 {
  padding: 20px;
}

.u-section-7 .u-over-slide-27 {
  padding: 20px;
}

.u-section-7 .u-over-slide-28 {
  padding: 20px;
}

.u-section-7 .u-over-slide-29 {
  padding: 20px;
}

.u-section-7 .u-over-slide-30 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1377px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-7 .u-gallery-1 {
    height: 2375px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-7 .u-gallery-1 {
    height: 7059px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1647px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-8 .u-gallery-1 {
  height: 1647px;
  margin-top: 16px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 3px 3px;
}

.u-section-8 .u-over-slide-1 {
  padding: 20px;
}

.u-section-8 .u-over-slide-2 {
  padding: 20px;
}

.u-section-8 .u-over-slide-3 {
  padding: 20px;
}

.u-section-8 .u-over-slide-4 {
  padding: 20px;
}

.u-section-8 .u-over-slide-5 {
  padding: 20px;
}

.u-section-8 .u-over-slide-6 {
  padding: 20px;
}

.u-section-8 .u-over-slide-7 {
  padding: 20px;
}

.u-section-8 .u-over-slide-8 {
  padding: 20px;
}

.u-section-8 .u-over-slide-9 {
  padding: 20px;
}

.u-section-8 .u-over-slide-10 {
  padding: 20px;
}

.u-section-8 .u-over-slide-11 {
  padding: 20px;
}

.u-section-8 .u-over-slide-12 {
  padding: 20px;
}

.u-section-8 .u-over-slide-13 {
  padding: 20px;
}

.u-section-8 .u-over-slide-14 {
  padding: 20px;
}

.u-section-8 .u-over-slide-15 {
  padding: 20px;
}

.u-section-8 .u-over-slide-16 {
  padding: 20px;
}

.u-section-8 .u-over-slide-17 {
  padding: 20px;
}

.u-section-8 .u-over-slide-18 {
  padding: 20px;
}

.u-section-8 .u-over-slide-19 {
  padding: 20px;
}

.u-section-8 .u-over-slide-20 {
  padding: 20px;
}

.u-section-8 .u-over-slide-21 {
  padding: 20px;
}

.u-section-8 .u-over-slide-22 {
  padding: 20px;
}

.u-section-8 .u-over-slide-23 {
  padding: 20px;
}

.u-section-8 .u-over-slide-24 {
  padding: 20px;
}

.u-section-8 .u-over-slide-25 {
  padding: 20px;
}

.u-section-8 .u-over-slide-26 {
  padding: 20px;
}

.u-section-8 .u-over-slide-27 {
  padding: 20px;
}

.u-section-8 .u-over-slide-28 {
  padding: 20px;
}

.u-section-8 .u-over-slide-29 {
  padding: 20px;
}

.u-section-8 .u-over-slide-30 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1377px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-8 .u-gallery-1 {
    height: 2375px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-8 .u-gallery-1 {
    height: 7059px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1647px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-9 .u-gallery-1 {
  height: 1647px;
  margin-top: 16px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-9 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 3px 3px;
}

.u-section-9 .u-over-slide-1 {
  padding: 20px;
}

.u-section-9 .u-over-slide-2 {
  padding: 20px;
}

.u-section-9 .u-over-slide-3 {
  padding: 20px;
}

.u-section-9 .u-over-slide-4 {
  padding: 20px;
}

.u-section-9 .u-over-slide-5 {
  padding: 20px;
}

.u-section-9 .u-over-slide-6 {
  padding: 20px;
}

.u-section-9 .u-over-slide-7 {
  padding: 20px;
}

.u-section-9 .u-over-slide-8 {
  padding: 20px;
}

.u-section-9 .u-over-slide-9 {
  padding: 20px;
}

.u-section-9 .u-over-slide-10 {
  padding: 20px;
}

.u-section-9 .u-over-slide-11 {
  padding: 20px;
}

.u-section-9 .u-over-slide-12 {
  padding: 20px;
}

.u-section-9 .u-over-slide-13 {
  padding: 20px;
}

.u-section-9 .u-over-slide-14 {
  padding: 20px;
}

.u-section-9 .u-over-slide-15 {
  padding: 20px;
}

.u-section-9 .u-over-slide-16 {
  padding: 20px;
}

.u-section-9 .u-over-slide-17 {
  padding: 20px;
}

.u-section-9 .u-over-slide-18 {
  padding: 20px;
}

.u-section-9 .u-over-slide-19 {
  padding: 20px;
}

.u-section-9 .u-over-slide-20 {
  padding: 20px;
}

.u-section-9 .u-over-slide-21 {
  padding: 20px;
}

.u-section-9 .u-over-slide-22 {
  padding: 20px;
}

.u-section-9 .u-over-slide-23 {
  padding: 20px;
}

.u-section-9 .u-over-slide-24 {
  padding: 20px;
}

.u-section-9 .u-over-slide-25 {
  padding: 20px;
}

.u-section-9 .u-over-slide-26 {
  padding: 20px;
}

.u-section-9 .u-over-slide-27 {
  padding: 20px;
}

.u-section-9 .u-over-slide-28 {
  padding: 20px;
}

.u-section-9 .u-over-slide-29 {
  padding: 20px;
}

.u-section-9 .u-over-slide-30 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-9 .u-gallery-1 {
    height: 1377px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-9 .u-gallery-1 {
    height: 2375px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-9 .u-gallery-1 {
    height: 7059px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-9 .u-gallery-1 {
    height: 1647px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-10 .u-gallery-1 {
  height: 1647px;
  margin-top: 16px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-10 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 3px 3px;
}

.u-section-10 .u-over-slide-1 {
  padding: 20px;
}

.u-section-10 .u-over-slide-2 {
  padding: 20px;
}

.u-section-10 .u-over-slide-3 {
  padding: 20px;
}

.u-section-10 .u-over-slide-4 {
  padding: 20px;
}

.u-section-10 .u-over-slide-5 {
  padding: 20px;
}

.u-section-10 .u-over-slide-6 {
  padding: 20px;
}

.u-section-10 .u-over-slide-7 {
  padding: 20px;
}

.u-section-10 .u-over-slide-8 {
  padding: 20px;
}

.u-section-10 .u-over-slide-9 {
  padding: 20px;
}

.u-section-10 .u-over-slide-10 {
  padding: 20px;
}

.u-section-10 .u-over-slide-11 {
  padding: 20px;
}

.u-section-10 .u-over-slide-12 {
  padding: 20px;
}

.u-section-10 .u-over-slide-13 {
  padding: 20px;
}

.u-section-10 .u-over-slide-14 {
  padding: 20px;
}

.u-section-10 .u-over-slide-15 {
  padding: 20px;
}

.u-section-10 .u-over-slide-16 {
  padding: 20px;
}

.u-section-10 .u-over-slide-17 {
  padding: 20px;
}

.u-section-10 .u-over-slide-18 {
  padding: 20px;
}

.u-section-10 .u-over-slide-19 {
  padding: 20px;
}

.u-section-10 .u-over-slide-20 {
  padding: 20px;
}

.u-section-10 .u-over-slide-21 {
  padding: 20px;
}

.u-section-10 .u-over-slide-22 {
  padding: 20px;
}

.u-section-10 .u-over-slide-23 {
  padding: 20px;
}

.u-section-10 .u-over-slide-24 {
  padding: 20px;
}

.u-section-10 .u-over-slide-25 {
  padding: 20px;
}

.u-section-10 .u-over-slide-26 {
  padding: 20px;
}

.u-section-10 .u-over-slide-27 {
  padding: 20px;
}

.u-section-10 .u-over-slide-28 {
  padding: 20px;
}

.u-section-10 .u-over-slide-29 {
  padding: 20px;
}

.u-section-10 .u-over-slide-30 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-10 .u-gallery-1 {
    height: 1377px;
  }

  .u-section-10 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-10 .u-gallery-1 {
    height: 2375px;
  }

  .u-section-10 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-10 .u-gallery-1 {
    height: 7059px;
  }

  .u-section-10 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-10 .u-gallery-1 {
    height: 1647px;
  }

  .u-section-10 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-11 .u-gallery-1 {
  height: 1647px;
  margin-top: 16px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-11 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 3px 3px;
}

.u-section-11 .u-over-slide-1 {
  padding: 20px;
}

.u-section-11 .u-over-slide-2 {
  padding: 20px;
}

.u-section-11 .u-over-slide-3 {
  padding: 20px;
}

.u-section-11 .u-over-slide-4 {
  padding: 20px;
}

.u-section-11 .u-over-slide-5 {
  padding: 20px;
}

.u-section-11 .u-over-slide-6 {
  padding: 20px;
}

.u-section-11 .u-over-slide-7 {
  padding: 20px;
}

.u-section-11 .u-over-slide-8 {
  padding: 20px;
}

.u-section-11 .u-over-slide-9 {
  padding: 20px;
}

.u-section-11 .u-over-slide-10 {
  padding: 20px;
}

.u-section-11 .u-over-slide-11 {
  padding: 20px;
}

.u-section-11 .u-over-slide-12 {
  padding: 20px;
}

.u-section-11 .u-over-slide-13 {
  padding: 20px;
}

.u-section-11 .u-over-slide-14 {
  padding: 20px;
}

.u-section-11 .u-over-slide-15 {
  padding: 20px;
}

.u-section-11 .u-over-slide-16 {
  padding: 20px;
}

.u-section-11 .u-over-slide-17 {
  padding: 20px;
}

.u-section-11 .u-over-slide-18 {
  padding: 20px;
}

.u-section-11 .u-over-slide-19 {
  padding: 20px;
}

.u-section-11 .u-over-slide-20 {
  padding: 20px;
}

.u-section-11 .u-over-slide-21 {
  padding: 20px;
}

.u-section-11 .u-over-slide-22 {
  padding: 20px;
}

.u-section-11 .u-over-slide-23 {
  padding: 20px;
}

.u-section-11 .u-over-slide-24 {
  padding: 20px;
}

.u-section-11 .u-over-slide-25 {
  padding: 20px;
}

.u-section-11 .u-over-slide-26 {
  padding: 20px;
}

.u-section-11 .u-over-slide-27 {
  padding: 20px;
}

.u-section-11 .u-over-slide-28 {
  padding: 20px;
}

.u-section-11 .u-over-slide-29 {
  padding: 20px;
}

.u-section-11 .u-over-slide-30 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-11 .u-gallery-1 {
    height: 1377px;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-11 .u-gallery-1 {
    height: 2375px;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-11 .u-gallery-1 {
    height: 7059px;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-11 .u-gallery-1 {
    height: 1647px;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-12 .u-gallery-1 {
  height: 1647px;
  margin-top: 16px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-12 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 3px 3px;
}

.u-section-12 .u-over-slide-1 {
  padding: 20px;
}

.u-section-12 .u-over-slide-2 {
  padding: 20px;
}

.u-section-12 .u-over-slide-3 {
  padding: 20px;
}

.u-section-12 .u-over-slide-4 {
  padding: 20px;
}

.u-section-12 .u-over-slide-5 {
  padding: 20px;
}

.u-section-12 .u-over-slide-6 {
  padding: 20px;
}

.u-section-12 .u-over-slide-7 {
  padding: 20px;
}

.u-section-12 .u-over-slide-8 {
  padding: 20px;
}

.u-section-12 .u-over-slide-9 {
  padding: 20px;
}

.u-section-12 .u-over-slide-10 {
  padding: 20px;
}

.u-section-12 .u-over-slide-11 {
  padding: 20px;
}

.u-section-12 .u-over-slide-12 {
  padding: 20px;
}

.u-section-12 .u-over-slide-13 {
  padding: 20px;
}

.u-section-12 .u-over-slide-14 {
  padding: 20px;
}

.u-section-12 .u-over-slide-15 {
  padding: 20px;
}

.u-section-12 .u-over-slide-16 {
  padding: 20px;
}

.u-section-12 .u-over-slide-17 {
  padding: 20px;
}

.u-section-12 .u-over-slide-18 {
  padding: 20px;
}

.u-section-12 .u-over-slide-19 {
  padding: 20px;
}

.u-section-12 .u-over-slide-20 {
  padding: 20px;
}

.u-section-12 .u-over-slide-21 {
  padding: 20px;
}

.u-section-12 .u-over-slide-22 {
  padding: 20px;
}

.u-section-12 .u-over-slide-23 {
  padding: 20px;
}

.u-section-12 .u-over-slide-24 {
  padding: 20px;
}

.u-section-12 .u-over-slide-25 {
  padding: 20px;
}

.u-section-12 .u-over-slide-26 {
  padding: 20px;
}

.u-section-12 .u-over-slide-27 {
  padding: 20px;
}

.u-section-12 .u-over-slide-28 {
  padding: 20px;
}

.u-section-12 .u-over-slide-29 {
  padding: 20px;
}

.u-section-12 .u-over-slide-30 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-12 .u-gallery-1 {
    height: 1377px;
  }

  .u-section-12 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-12 .u-gallery-1 {
    height: 2375px;
  }

  .u-section-12 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-12 .u-gallery-1 {
    height: 7059px;
  }

  .u-section-12 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-12 .u-gallery-1 {
    height: 1647px;
  }

  .u-section-12 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-13 .u-gallery-1 {
  height: 1647px;
  margin-top: 16px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-13 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 3px 3px;
}

.u-section-13 .u-over-slide-1 {
  padding: 20px;
}

.u-section-13 .u-over-slide-2 {
  padding: 20px;
}

.u-section-13 .u-over-slide-3 {
  padding: 20px;
}

.u-section-13 .u-over-slide-4 {
  padding: 20px;
}

.u-section-13 .u-over-slide-5 {
  padding: 20px;
}

.u-section-13 .u-over-slide-6 {
  padding: 20px;
}

.u-section-13 .u-over-slide-7 {
  padding: 20px;
}

.u-section-13 .u-over-slide-8 {
  padding: 20px;
}

.u-section-13 .u-over-slide-9 {
  padding: 20px;
}

.u-section-13 .u-over-slide-10 {
  padding: 20px;
}

.u-section-13 .u-over-slide-11 {
  padding: 20px;
}

.u-section-13 .u-over-slide-12 {
  padding: 20px;
}

.u-section-13 .u-over-slide-13 {
  padding: 20px;
}

.u-section-13 .u-over-slide-14 {
  padding: 20px;
}

.u-section-13 .u-over-slide-15 {
  padding: 20px;
}

.u-section-13 .u-over-slide-16 {
  padding: 20px;
}

.u-section-13 .u-over-slide-17 {
  padding: 20px;
}

.u-section-13 .u-over-slide-18 {
  padding: 20px;
}

.u-section-13 .u-over-slide-19 {
  padding: 20px;
}

.u-section-13 .u-over-slide-20 {
  padding: 20px;
}

.u-section-13 .u-over-slide-21 {
  padding: 20px;
}

.u-section-13 .u-over-slide-22 {
  padding: 20px;
}

.u-section-13 .u-over-slide-23 {
  padding: 20px;
}

.u-section-13 .u-over-slide-24 {
  padding: 20px;
}

.u-section-13 .u-over-slide-25 {
  padding: 20px;
}

.u-section-13 .u-over-slide-26 {
  padding: 20px;
}

.u-section-13 .u-over-slide-27 {
  padding: 20px;
}

.u-section-13 .u-over-slide-28 {
  padding: 20px;
}

.u-section-13 .u-over-slide-29 {
  padding: 20px;
}

.u-section-13 .u-over-slide-30 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-13 .u-gallery-1 {
    height: 1377px;
  }

  .u-section-13 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-13 .u-gallery-1 {
    height: 2375px;
  }

  .u-section-13 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-13 .u-gallery-1 {
    height: 7059px;
  }

  .u-section-13 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-13 .u-gallery-1 {
    height: 1647px;
  }

  .u-section-13 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-14 .u-gallery-1 {
  height: 1647px;
  margin-top: 16px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-14 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 3px 3px;
}

.u-section-14 .u-over-slide-1 {
  padding: 20px;
}

.u-section-14 .u-over-slide-2 {
  padding: 20px;
}

.u-section-14 .u-over-slide-3 {
  padding: 20px;
}

.u-section-14 .u-over-slide-4 {
  padding: 20px;
}

.u-section-14 .u-over-slide-5 {
  padding: 20px;
}

.u-section-14 .u-over-slide-6 {
  padding: 20px;
}

.u-section-14 .u-over-slide-7 {
  padding: 20px;
}

.u-section-14 .u-over-slide-8 {
  padding: 20px;
}

.u-section-14 .u-over-slide-9 {
  padding: 20px;
}

.u-section-14 .u-over-slide-10 {
  padding: 20px;
}

.u-section-14 .u-over-slide-11 {
  padding: 20px;
}

.u-section-14 .u-over-slide-12 {
  padding: 20px;
}

.u-section-14 .u-over-slide-13 {
  padding: 20px;
}

.u-section-14 .u-over-slide-14 {
  padding: 20px;
}

.u-section-14 .u-over-slide-15 {
  padding: 20px;
}

.u-section-14 .u-over-slide-16 {
  padding: 20px;
}

.u-section-14 .u-over-slide-17 {
  padding: 20px;
}

.u-section-14 .u-over-slide-18 {
  padding: 20px;
}

.u-section-14 .u-over-slide-19 {
  padding: 20px;
}

.u-section-14 .u-over-slide-20 {
  padding: 20px;
}

.u-section-14 .u-over-slide-21 {
  padding: 20px;
}

.u-section-14 .u-over-slide-22 {
  padding: 20px;
}

.u-section-14 .u-over-slide-23 {
  padding: 20px;
}

.u-section-14 .u-over-slide-24 {
  padding: 20px;
}

.u-section-14 .u-over-slide-25 {
  padding: 20px;
}

.u-section-14 .u-over-slide-26 {
  padding: 20px;
}

.u-section-14 .u-over-slide-27 {
  padding: 20px;
}

.u-section-14 .u-over-slide-28 {
  padding: 20px;
}

.u-section-14 .u-over-slide-29 {
  padding: 20px;
}

.u-section-14 .u-over-slide-30 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-14 .u-gallery-1 {
    height: 1377px;
  }

  .u-section-14 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-14 .u-gallery-1 {
    height: 2375px;
  }

  .u-section-14 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-14 .u-gallery-1 {
    height: 7059px;
  }

  .u-section-14 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-14 .u-gallery-1 {
    height: 1647px;
  }

  .u-section-14 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-15 .u-gallery-1 {
  height: 1647px;
  margin-top: 16px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-15 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 3px 3px;
}

.u-section-15 .u-over-slide-1 {
  padding: 20px;
}

.u-section-15 .u-over-slide-2 {
  padding: 20px;
}

.u-section-15 .u-over-slide-3 {
  padding: 20px;
}

.u-section-15 .u-over-slide-4 {
  padding: 20px;
}

.u-section-15 .u-over-slide-5 {
  padding: 20px;
}

.u-section-15 .u-over-slide-6 {
  padding: 20px;
}

.u-section-15 .u-over-slide-7 {
  padding: 20px;
}

.u-section-15 .u-over-slide-8 {
  padding: 20px;
}

.u-section-15 .u-over-slide-9 {
  padding: 20px;
}

.u-section-15 .u-over-slide-10 {
  padding: 20px;
}

.u-section-15 .u-over-slide-11 {
  padding: 20px;
}

.u-section-15 .u-over-slide-12 {
  padding: 20px;
}

.u-section-15 .u-over-slide-13 {
  padding: 20px;
}

.u-section-15 .u-over-slide-14 {
  padding: 20px;
}

.u-section-15 .u-over-slide-15 {
  padding: 20px;
}

.u-section-15 .u-over-slide-16 {
  padding: 20px;
}

.u-section-15 .u-over-slide-17 {
  padding: 20px;
}

.u-section-15 .u-over-slide-18 {
  padding: 20px;
}

.u-section-15 .u-over-slide-19 {
  padding: 20px;
}

.u-section-15 .u-over-slide-20 {
  padding: 20px;
}

.u-section-15 .u-over-slide-21 {
  padding: 20px;
}

.u-section-15 .u-over-slide-22 {
  padding: 20px;
}

.u-section-15 .u-over-slide-23 {
  padding: 20px;
}

.u-section-15 .u-over-slide-24 {
  padding: 20px;
}

.u-section-15 .u-over-slide-25 {
  padding: 20px;
}

.u-section-15 .u-over-slide-26 {
  padding: 20px;
}

.u-section-15 .u-over-slide-27 {
  padding: 20px;
}

.u-section-15 .u-over-slide-28 {
  padding: 20px;
}

.u-section-15 .u-over-slide-29 {
  padding: 20px;
}

.u-section-15 .u-over-slide-30 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-15 .u-gallery-1 {
    height: 1377px;
  }

  .u-section-15 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-15 .u-gallery-1 {
    height: 2375px;
  }

  .u-section-15 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-15 .u-gallery-1 {
    height: 7059px;
  }

  .u-section-15 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-15 .u-gallery-1 {
    height: 1647px;
  }

  .u-section-15 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto;
  }
}